<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- Classe responsável pela gestão das entidades  -->
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="ecommerce" />
	</bean>


	<!-- Identifica os beans anotados com @Service, @Repository, @Controller  -->
	<context:component-scan base-package="br.com.integrator.controller" />

	<!-- Habilita a configuração de beans via anotações
	sem a necessidade de usar PersistenceAnnotationBeanPostProcessor,
	AutowiredAnnotationBeanPostProcessor e etc
	 -->
	<context:annotation-config />

<!-- Trabalha com a anotação  @Autowired
	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />

	 Trabalha com a anotação  @Resource
	<bean
		class="org.springframework.orm.jpa.support.
			PersistenceAnnotationBeanPostProcessor" />
-->			

	<!-- Classe responsável pela gestão das transações  -->
	<bean id="transactionManager"
		class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory"
			ref="entityManagerFactory" />
	</bean>

	<!-- Marcação de transações através de anotações  -->
	<tx:annotation-driven />

	<!-- Declaração de Beans no Spring -->
	<bean id="produtoDao"
		class="br.com.integrator.dao.imp.ProdutoDaoImp" />
	<bean id="categoriaDao"
		class="br.com.integrator.dao.imp.CategoriaDaoImp" />
	<bean id="pedidoDao" class="br.com.integrator.dao.imp.PedidoDaoImp" />
	<bean id="itensPedidoDao"
		class="br.com.integrator.dao.imp.ItensPedidoDaoImp" />
	<bean id="usuarioDao"
		class="br.com.integrator.dao.imp.UsuarioDaoImp" />

	<bean id="adminDao"
		class="br.com.integrator.dao.imp.AdminDaoImp" />
		
	<!-- Envia E-mail -->
	<!-- <bean id="enviarEmail"
		class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="HOST"/>
		<property name="username" value="USUARIO@HOST"/>
		<property name="password" value="SUA_SENHA"/>
	</bean> -->
	<bean id="enviarEmail"
		class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="mail.javacia.com.br"/>
		<property name="username" value="email_tgi@javacia.com.br"/>
		<property name="password" value="tgi12345"/>
	</bean>

	

</beans>
