/* CSS Document */
.ui-widget {
	font-size: 12px !important;
	margin-top:6px;} 

html {
	height:100%;
	margin: 0px 0px 1px 0px;
	padding: 0;
}

html * {
margin:0pt;
padding:0pt;
}

.clear {
	clear:both;
}

body {
	font-size: 12px;
	font-family: Arial ,verdana, helvetic;
	background-color: #EAEAEA;
	padding: 0;
	margin: 0;
	color: #333;
}

/*----------------------------------*/
/* configuracao geral de site*/
/*--------------------------------*/
#site{
	padding:0;
	width:735px;
	display:block;
	margin:0px auto;
	position:relative;
	background-color:white;
	left: 50%;
	margin-left: -367.5px;

}

#main-menu {
	margin:0;
	padding:0;
	height:160px;
	position:relative;
}

/*--------------------------------------------------*/
/*configuracoes do conteudo dentro da tag main-menu*/
/*------------------------------------------------*/

/* logo */
#h1-logo {
	background :url('../imagens/site/logo.gif') no-repeat left center;
	height:71px;
	width:220px;
	margin:0;
	padding:0;
	display:block;
	position:absolute;
	top:6px;
	left:19px;
}

#h1-logo span {display:none;}

/* search */
#dv-search {
	background :url('../imagens/site/search.gif') repeat-x left center;
	height:71px;
	width:228px;
	margin:0;
	padding:0;
	display:block;
	position:absolute;
	top:80px;
	left:13px;
}

#dv-search table {
	position:absolute;
	left:32px
}

#dv-search table h4 {font-size:12px; color:#FFFFFF}

/* header */
.header {
	background:url(../imagens/site/header.gif) left top repeat-x;
	position:absolute;
	top:6px;
	right:10px;
	z-index:900;
	display:block;
	height:71px;
	font-size:1.4em;
	font-weight:bold;
	margin:0;
	padding:0;
	width: 480px;
}

.header ul {
	margin:0;
	padding:0;
	position:relative;
	height:71px;
	}

.header ul li {
	float:left;
	display:block;
	position:relative;
    margin:0;
    padding:0;
	height:71px;}

.header ul li#la-btn {width:239px;}
.header ul li#lb-btn {width:2px;}
.header ul li#lc-btn {width:239px;}


.header ul li h4 {
	display:block;
	margin:0;
	padding:20px 0 25px 0;  
	text-align:center;
	text-decoration:none;
	font-size:12px}

/* phone */
.header ul li ul {
	position:absolute;
	display:block;
	top:38px;
	left:50px;
	margin:0;
	padding:0;
	text-align: center;
}

.header ul li ul li#lang-1 { width:140px; height:20px; font-size:11px }


/*cart */

.header ul li ul li#cart-1 { font-size:10px; width:140px; height:20px }


/*menu*/
.menu {
	background:url(../imagens/site/m.gif) left top repeat-x;
	position:absolute;
	top:80px;
	right:10px;
	z-index:900;
	display:block;
	height:71px;
	font-size:1.1em;
	font-weight:bold;
	margin:0;
	padding:0;
	width: 480px;
	float:left;
}

.menu ul {
	margin:0;
	padding:0;
	position:relative;
	height:71px;
	}

.menu ul li {
	float:left;
	display:block;
	position:relative;
    margin:0;
    padding:0;
	height:71px;}

.menu ul li#a-btn {	width:114px; }
.menu ul li#as-btn { width:1px; }
.menu ul li#b-btn { width:124px; }
.menu ul li#bs-btn { width:1px; }
.menu ul li#c-btn { width:126px; }
.menu ul li#cs-btn { width:1px; }
.menu ul li#d-btn { width:112px; }

.menu ul li img {
    border:0;
    margin:0;
    padding:0;}

.menu ul li a {
	display:block;
	margin:0;
	padding:25px 0 25px 0;  
	text-align:center;
	text-decoration:none;
	color:#FFFFFF}

.menu ul li a:hover { background-color:#3f3f3f; }

/* Fix IE. Hide from IE Mac \*/
* html ul li { float: left; }
* html ul li a { height: 1%; }
.menu img {
    border:0;
    margin:0;
    padding:0;}

.clear:after {
	content:"."; 
	display:block; 
	height:0; 
	clear:both; 
	visibility:hidden;
}

* html .clear { height:1%; }
/* End hide from IE-mac */


/*------------------------------------*/
/* configuracoes gerais da tag content*/
/*----------------------------------*/

#content {
	padding:0px 13px;
	margin:0;
	display:block;
	position: relative;
	height: auto;

}

/*----------------------------------*/
/* configuracao geral da tag footer*/
/*--------------------------------*/
#footer{
	background:#1e1e1e none repeat scroll 0% 0%;
	font-size:.95em;
	display:block;
	position:relative;
	margin:0;
	padding:0;
	width:100%;
	float:left;
	text-align: center;
	color:#FFFFFF;
} 




/*----------------------------------*/
/* configuracao geral da tag menu-cat*/
/*--------------------------------*/
#menu-cat {
	width:226px;
	font: bold 11px arial, verdana, sans-serif;
	padding:0px;
	margin:0px;
	background-color:#f0f0f0;
	color: #fff;
	text-align:left;
	border: solid 2px #CACACA;
	float:left;
	position: relative;
	}

#menu-cat h4.title {
	color: #78B400;
	padding-left:5px;
	padding-top:5px;
	font-size:14px;
	padding-bottom:10px;
	text-transform:uppercase;
	
}

#menu-cat ul {
	list-style: none;
	margin: 0;
	padding:0 15px 15px 15px;
	width:170px;/*determina um tamanho para que o IE nao se confunda*/
	

}
#menu-cat li {
	margin: 0;
	/*border-bottom: 1px dotted #CACACA;*/
}
#menu-cat li a {
	margin: 0;
	padding:0;
	text-decoration: none;
	display: block;
	background:url(../imagens/site/bg_list.gif) left top no-repeat;
	background-position:0 5px; color:#010101; text-decoration:none; padding-left:10px;
}
#menu-cat li a:hover {
	color:#78B400;	

}

#menu-cat li li{
	/*border-bottom: 1px dotted #CACACA;*/
}

/*-----------------------------------*/
/* configuracao geral da tag products*/
/*-----------------------------------*/
#products {
	width:475px;
	padding:0px;
	float:right;
	position: relative;

}

#products div {
	position:relative;
	top:0px;
	width:230px;
	height:180px;
	vertical-align:top;
	float:left;
	margin:0px;
	padding:0px;
	display:inline;
}

#products div table td{
	vertical-align:top;
}

.title{
	font-size: 11px;
	font-weight: bold;
}



.text{
	font-size: 10px;
}
.listprice{
	text-decoration: line-through;
	font-size: 10px;
}
.price{
	font-size: 10px;
	color:red;
}




/*-----------------------------------*/
/* formata o carrinho de compras     */
/*-----------------------------------*/

.shop-cart{
	width : 472px;
	position: relative;
}
.cart-table{
	 border: 0px;
}

.shop-cart-header{
	padding: 5px;
	background-image: url(../imagens/site/top_cart.gif);
	color: #FFF;

}

.total{
	background-color: #EEE;
}

.col-a{
	
}
.col-b, .col-c{
	text-align: center;
}

.col-d{
	background-color: #EEE;
	text-align: center;
}

#right{
	float:right;
	vertical-align: top;
}

#right #cart{
	padding-bottom: 10px;
}
/*determina o tamanho da tabela do carrinho na página carrinho*/
#right #cart table{
	width: 470px;
}


#cart fieldset{
	top: 0px;
	padding: 20px;
	border: solid #CCCCCC 1px;
	margin: 0 auto;
	text-align: left;
	width: 400px;
}


#checkout{
	margin:0;
	display:block;
	position: relative;
	height: auto;
	float: left;
	width: 470px;
	padding-bottom: 10px;
}

#checkout fieldset{
	padding-left: 25px;
	border: solid #CCCCCC 1px;
	margin: 0 auto;
	text-align: left;
	width: 350px;
	padding-bottom: 25px;
}
#checkout legend{
	font-weight: bold;
	font-size: 11pt;
	letter-spacing: 1px;
	padding-bottom: 10px;
}
html>body #checkout legend{
	margin-bottom: 0px;
}
#checkout .field{
	border-top: solid #333333 1px;
	border-left: solid #333333 1px;
	border-bottom: solid #CCCCCC 1px;
	border-right: solid #CCCCCC 1px;
	font-size: 13px;
	margin-bottom: 10px;
	color: #0E0659;
	
}
#checkout label{
	display: block;
	width: 80px;
	float: left;
	color: #000;
	border-bottom: 1px solid #f1f1f1;
}

#checkout .msg{
	padding-left: 5px;
}

/*para mensagens globais*/
#checkout ul li, #account ul li{
	list-style: none; 
}

.global-error{
	color:#FF0000;
	padding-bottom: 10px;
}

#account fieldset {
	width:435px;
	margin:0;
	padding:5px;
}

#account dd span{
	padding-left: 5px;
}

#account table {
	width: 100%;
	padding: 5px;
}

/*para mensagens globais*/
#account ul li{
	list-style: none; 
}
#account #user-menu ul li {
	list-style: none;
	display:inline;
	margin:0 0 0 10px;
	padding:0 0 0 15px;
	
}